# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Environment
.env
.DS_Store

# IDE & OS
.vscode/
.idea/
Thumbs.db

# Sub projects & Caches
trippa-stayFinder-major-project/
__pycache__/
*.pyc

